body {
  margin: 0;
  font-family: 'Baloo 2', cursive;
  display: flex;
  background: var(--color-bg);
  color: var(--color-text);
}

.main {
  flex: 1;
  padding: 20px;
  margin-left: 220px; /* mesma largura do sidebar */
}

.form-container {
  background: var(--color-card-bg);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 6px var(--color-shadow);
  margin-bottom: 25px;
}

#financeForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 18px;
  color: var(--color-text-medium);
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--color-divider);
  border-radius: 12px;
  font-size: 14px;
  background: var(--color-bg-light);
  color: var(--color-text);
  font-size: 20px;
}

h1 {
  font-size: 50px;
  margin-bottom: 0px;
}

h3 {
  font-size: 30px;
  margin-bottom: 0px;
}

.form-actions {
  grid-column: span 2;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
}

#financeForm button[type="submit"] {
  background: var(--color-blue);
  color: var(--color-bg-light);
  font-size: 20px;
}

#financeForm button[type="submit"]:hover {
  filter: brightness(0.8);
}

#exportBtn {
  background: var(--color-text-dark);
  color: var(--color-bg-light);
  font-size: 20px;
}

#exportBtn:hover {
  filter: brightness(0.8);
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 6px var(--color-shadow);
  background: var(--color-card-bg);
  color: var(--color-text);
}

thead {
  background: var(--color-bg-lighter);
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid var(--color-divider);
  text-align: center;
}

tbody tr:hover {
  background: var(--color-bg-gray);
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .main {
    margin-left: 0; 
    margin-top: 60px; /* espaço pro menu mobile fixo */
    padding: 15px;
  }

    * {
   box-sizing: content-box;
}

input {
    width: 100%;
    padding-top: 8px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    border: 1px solid var(--color-divider);
    border-radius: 12px;
    font-size: 14px;
    background: var(--color-bg-light);
    color: var(--color-text);
    font-size: 20px;
}

  /* Formulário vira 1 coluna */
  #financeForm {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .form-actions {
    grid-column: 1;
    flex-direction: row;
    align-items: stretch;
  }

  .form-actions button {
    width: 100%;
    font-size: 18px;
  }

  /* Tabela rola horizontal */
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  th, td {
    font-size: 14px;
    padding: 10px;
  }

  h1 {
    font-size: 32px;
  }

  h3 {
    font-size: 20px;
  }

}
